extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') 
      i(class="fas fa-arrow-circle-left")  Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{project_name}

        p.lead.text-light
          | #{description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each technology in technologies
            li= technology

        a.button.expanded.round(href=`${
    live_link}` target="_blank") Live Demo
        a.button.expanded.round(href=`${
    github_link}` target="_blank") GitHub Repo
    
    img.image.fade-in(src=`${image1}` alt=`${project_name} screenshot 1`)
    img.image.fade-in(src=`${image2}` alt=`${project_name}screenshot 2`)
    img.image.fade-in(src=`${image3}` alt=`${project_name}screenshot 3`)